<form method="POST" action="/login">
  <input type="email" placeholder="email" id="email" name="email" />
  <input type="password" placeholder="password" id="password" name="password" />
  <button type="submit">Login</button>
  <a href="/register">Register</a>
</form>
