<form method="POST" action="/register">
  <input type="email" placeholder="email" id="email" name="email" />
  <input type="password" placeholder="password" id="password" name="password" />
  <button type="submit">Register</button>
  <a href="/login">Login</a>
</form>
